table,
th,
td {
  border: 1px solid black;
}

.todo-table {
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
}
/* .todo-table {
} */
.action-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.edit-icon,
.delete-icon {
  width: 25px;
  cursor: pointer;
}

th:nth-child(3) {
  cursor: pointer;
}
th:nth-child(4) {
  cursor: pointer;
}

.todos-pagination {
  margin-top: 15px;
}

.todos-pages span {
  padding: 0 10px;
  cursor: pointer;
}
